body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
}
div{
    text-align: center;
}

#stylingBox{
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#inputText{
    width: 300px;
    height:90%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#storeText{
    height: 100%;
    width: 100px;
    text-align: center;
    background-color: #fff;
    color: rgb(0, 138, 138);
    border-color:aqua;
}

#box{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.boxRow{
    width:100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;

    vertical-align: middle;
}

.textRow{
    min-width: 30%;
    padding: 0.8em 2%;
    width: min-content;
    text-align: center;

}

.boxForButtons{
    width: 300px;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: middle
}

.buttonRow{
    
}

.buttonRow.col1{
    background-color: rgb(255, 0, 0);    
}

.buttonRow.col2{
    background-color: yellow;
}

.buttonRow.col1:active{
    background-color: rgb(100,0,0);
}
.buttonRow.col2:active{
    background-color: rgb(100,100,0);
}

#deleteAll{
    margin:50px;
    height: 3em;
    width: 10em;
    text-align: center;
    background-color: #fff;
    color: rgb(0, 138, 138);
    border-color:aqua;
}


